# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Model Files (WE NEED THESE FOR STREAMLIT TO WORK)
# Un-ignoring specifically for this project
!*.pkl

# Data Files
# We ignore the large processed data, but keep the raw dataset for training
Processed_Engineering_Data.csv
Engineering_Cost_Feasibility_Dataset.xlsx

# System files
NTUSER.DAT*
ntuser.dat*
ntuser.ini
.DS_Store
Thumbs.db
